#1.
{% extends "base.html" %}
#2.
{% block title %}Login{% endblock %}
#3.
{% block content %}
        <div class="container">
		<h1>Login</h1>
			<form method="POST" action="{{ url_for('login') }}" novalidate>
				{{ form.hidden_tag() }}
				{{ form.username.label(class="form-label") }} {{ form.username(size=30) }}
				{% for err in form.username.errors %}
				<span style="color:red"> {{ err }}</span>
				{% endfor %}
				<br>
				{{ form.password.label(class="form-label") }} {{ form.password(size=30) }}
				{% for err in form.password.errors %}
				<span style="color:red"> {{ err }}</span>
				{% endfor %}
				<br>
				{{form.submit(class="btn btn-primary btn-lg")}}

			</form>

        </div>
{% endblock %}
